.margin3  
  %h1= 'ویرایش پروفایل '  + @user.email
  = link_to 'مشاهده', @user, :class => "btn btn-warning"      
  .col-xs-6
    = render 'form'  
  - if is_admin?
    .col-xs-6
      = link_to 'ویرایش اطلاعات سایر کاربران', edit_user_registration_path, :class => "btn btn-info" 
  
  

  
 
