-#
  #responsive480showcertificate.footer-certificate.col-xs-12.avoid-this
    - @certificates = Certificate.all        
    - @certificates.each do |certificate|
      .certificate-box{"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => certificate.title}
        = image_tag certificate.image(:small), :width => "100"  
      
 
