

- Plane.all.each do |plane|  
  = link_to url_with_protocol(plane.web_site), :target => "_blank" ,"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => plane.title do
    = image_tag plane.logo(:icon)
:javascript
  $(document).ready(function() {
    $(".plane-company").smoothDivScroll({ 
      autoScrollingMode: "always", 
      autoScrollingDirection: "endlessLoopRight", 
      autoScrollingStep: 1, 
      autoScrollingInterval: 50
    });

    // Logo parade event handlers
    $(".plane-company").bind("mouseover", function() {
      $(this).smoothDivScroll("stopAutoScrolling");
    }).bind("mouseout", function() {
      $(this).smoothDivScroll("startAutoScrolling");
    });

  });
