.footer-menu#related-links
  %ul.set-center{:class => I18n.locale}
    - Link.all.each do |link|
      %li.tour
        = link_to link.title,  url_with_protocol(link.web_site), :title => "آژانس_هواپیمایی_دیدار"
          
      
    
