/ Weather by www.1abzar.com -
%script{:src => "http://1abzaar.ir/abzar/tools/weather/hava.php?color=333333&shahr=008&bg=F0F0F0&kc=BBBBBB&kadr=0", :type => "text/javascript"}
%div{:style => "display:none"}
  %h1
    %a{:href => "http://www.1abzar.com"} وضعیت آب و هوا
/ Weather by www.1abzar.com -
