.margin3.margin-bottom.new_form_general_class
  .col-xs-12    
    .pull-left.col-xs-3= image_tag 'menu_logo.png'
    %p.col-xs-6.set-center.title-tour#visa-form.pull-left{:class => I18n.locale}= t('visa-app')
      
      
  .col-xs-12{:style => "text-align:center"}    
    = image_tag 'Iran.jpg'
      
  .col-xs-12.en
    = render 'form'
