var mywindow = window.open('', '.main', 'height=400,width=100%');
mywindow.document.write('<link rel="stylesheet" href="print.css" type="text/css" />');
alert('پرینت نامه با سایز A4');
mywindow.document.close();
mywindow.print();
mywindow.close();
