/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require dataTables/jquery.dataTables
 *= require_tree .
 *= require_self
 */
 
.clear-float {clear:both}
.full-width {clear:both; width:100%}
.set-center {margin-right:auto; margin-left:auto}
.margin3 {margin:3%}
.margin-top5 {margin-top:5%;}
.margin-bottom {margin-bottom:10%}
.margin-bottom5 {margin-bottom:5%}
a { color:#521010;}
a:hover, visited {  text-decoration:none}
html {padding:0; margin:0;  height:100%}
body {padding:0; margin:0;  height:100%; width:100%; position:relative;}
.fa {direction:rtl;  font-family: 'open_sansregular';}
.fa input, .fa select, .fa textarea, .fa label, .admin-menu ul.fa  {direction:rtl; font-family: 'open_sansregular';}
.ar, p.ar {direction:rtl; font-family:'ASpiritOfDohaMedium'; font-size:1.2em }
.en, p.en, span.en, h1.en, h2.en, h3.en, h4.en {direction:ltr; font-family:Arial}
.admin-menu {position:absolute; top:180px;height: 37px;
  overflow: hidden;
  left:0; width:220px;
  z-index:20;
  font-family: 'open_sansregular'; 
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;    
    background-image: url(image-path('img-thing.jpg')); }
.admin-menu-title {text-align:center; color:#000000}
.admin-menu-title:hover {cursor:pointer}
p, span {color:#000}
.admin-menu:hover {height:500px}
.admin-menu ul li:hover a {font-size:16px;}
.admi-menu-title {padding:1%; color:#000000}
.unread {border-radius:50%; background:#A52A2A; color:#fff; padding:2%;
  padding-right: 4%;
  padding-left: 4%;
}
.main {width:100%; position:relative;}
.main-menu { position:relative; top:0;
  
  right:0; left:0; width:100%; height:160px; overflow:hidden;
  padding:0; z-index:4;
}
.main-menu  .top-of-menu {position:absolute; 
  top:0; width:100%; height:45px;  z-index:20;    
  padding:1%;
  background: #440102; /* Old browsers */
  background: -moz-linear-gradient(top,  #440102 0%, #560001 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#440102), color-stop(100%,#560001)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #440102 0%,#560001 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #440102 0%,#560001 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #440102 0%,#560001 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #440102 0%,#560001 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#440102', endColorstr='#560001',GradientType=0 ); /* IE6-9 */

  }
.main-menu  .top-of-menu p.site-title {text-align:center; color:#fff}
.main-menu  .top-of-menu p.site-title.fa {font-size: 2em; font-family: 'Bhoma'; text-align:right}
.main-menu .bottom-of-menu {
  position:absolute; bottom:0;
  width:100%; height:10px;  z-index:20;   
  background: #440102; /* Old browsers */
  background: -moz-linear-gradient(top,  #440102 0%, #560001 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#440102), color-stop(100%,#560001)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #440102 0%,#560001 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #440102 0%,#560001 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #440102 0%,#560001 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #440102 0%,#560001 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#440102', endColorstr='#560001',GradientType=0 ); /* IE6-9 */
}
.main-menu .col-xs-10 {padding:0;}


.main-menu .flag_bar a{margin:2%;}
.main-menu .flag_bar {text-align:center}
.main-menu .logo-center.fa,.main-menu .logo-center.ar  {position:absolute; top:45px; width:100%; height:115px}

.show-social {
  display:none;
  position:absolute;
  top:100px;
  right:0; width:35px;
  overflow:hidden;
  background:#1A1A1A;
  opacity:.6;
  height:140px; 
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s; 
  z-index:10;
  }
.show-social:hover {width:115px;}
.show-social .social-icon  {overflow:hidden; width:115px}
.show-social .social-icon span {color:#fff}
.show-social .social-icon span:hover {color:#FFA500; cursor:pointer}
.menu_item {position:relative; width:100%; 
  background-image: url(image-path('main-menu.png'));
  height:50px;
  top:30px;
  border-radius:5px;
}
.menu_item .col-xs-9 {position:relative; height:100%;}
.menu_item.fa, .menu_item.ar {right:-5px;}
.menu_item .logo-img.fa {float:right}
.menu_item .logo-img {position:absolute; top:0; right:0}
.menu_bar {position:absolute;  width:100%; height:100%; left:0;}
.menu_bar .menu-side {position:relative; height:60%; margin-top:3%;}

.menu_bar .logo-side {
  margin-top: -3%;
  border-radius: 50%;
  background: #fff;
  z-index: 50;
  padding: 2%;
  height:150px;
  }
.menu_bar .logo-side a {text-align:center}
.menu_bar ul#main-menu {
  list-style:none; width:100%;   
  height:100%; 
  position: relative;
  padding: 0;
  }
.menu_bar ul#main-menu li{position:relative;
  width:25%; float:right;
  height:100%; overflow:hidden;  
  color:#811717;
  font-size:15px;
  
  background-position: 50% 0;  
  }
.menu_bar ul#main-menu li.item-menu a {
  padding-top:13%;
  width:100%; height:100%;
  position:absolute;
  text-align:center;  
  color:#510D0D; font-size:1.2em;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s; }
.menu_bar ul#main-menu li.item-menu:hover {background-image: url(image-path('arrow-up.png'));
  background-repeat: no-repeat;
  background-position: 50% 100%;  
  border-radius:9px;  
}
.menu_bar ul#main-menu li.item-menu:hover a{color:#FF0000; }

#slider1_container {
  position: relative;
  width: 100%;
  height: 400px;
  top: 0;
  right: 0;
  left: 0;
  clear:both
  }
.multi-slider-package {position:relative; height:300px;}


.carousel {height:100%;}
.carousel .carousel-inner{height:100%;}
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

.carousel-indicators .active {background-color:#6A1010}
.carousel-indicators li {border: 1px solid #6A1010;}


.bottom-slider {
  position:relative; width:100%; height:10px;
  background: #440102; /* Old browsers */
  background: -moz-linear-gradient(top,  #440102 0%, #560001 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#440102), color-stop(100%,#560001)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #440102 0%,#560001 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #440102 0%,#560001 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #440102 0%,#560001 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #440102 0%,#560001 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#440102', endColorstr='#560001',GradientType=0 ); /* IE6-9 */
  
  }
.carousel-control.left, .carousel-control.right {background-image:none}
.carousel-control.left, .carousel-control.right {background-image:none}
.keywords {height:1px; overflow:hidden;}


.footer {
  height:800px;
  background-image: url(image-path('footer-bg.jpg')); 
  background-size: 100% 100%;
  background-position: center;
  position:relative; right:0; left:0;  
  }
.footer .footer-boxes {position: absolute;
width: 100%;
height: 100%;
right: 0;
left: 0;}
.footer .footer-rectangle-box {top:15%; color:#fff}
.footer .footer-rectangle-box .contact-box{margin-top:5%; }
.footer .footer-rectangle-box .contact-box.fa ,.footer .footer-rectangle-box .contact-box.ar{float:left}
.footer .footer-rectangle-box .contact-box.en{float:right}
.footer .footer-rectangle-box .contact-box .contact{text-align:center; margin-bottom:20px}
.footer .footer-contact-box {
  background-image: url(image-path('main-menu.png'));
  position:relative; height:300px;
  top:100px;
  }

.footer  .contact-info.fa p {direction:rtl; font-family: 'open_sansregular';color:#fff}
.footer  .contact-info.ar p {direction:ltr; font-family:'ASpiritOfDohaMedium'; font-size:1em; color:#fff}
.footer  .contact-info.en p { color:#fff}
.yield {position:relative}
.anchorLink {position:fixed; bottom:0; left:0; z-index:10}
.form-control:focus {border-color:#CC1A1A}
.form-control {background-color:transparent; border:1px solid #BFBFBF}
.footer .google-map-box {border:1px solid #BFBFBF; width:100%; height:250px}
.footer .footer-bottom {position: absolute;
bottom: 0;}
.footer-menu ul{list-style:none}
.footer-menu ul li{list-style:none}
.footer-menu ul a li {color:#fff; text-align:center}
.footer-menu ul li:hover {color:#7B1515}
.footer .copyright {color:#fff; text-align:center; margin-bottom:2%}
.footer .title-footer-form {background:#fff; padding:0; margin:0; color:#000000; width:60%;
  right: 20%;
left: 20%;

top: 0;
}
.footer .newsletter { top:30px;}
.footer .customer-clube {top:60px;}
.footer .sitevisit p b, .footer .sitevisit p{color:#fff}
.footer .form-submit {background-image: url(image-path('send.png'));
  background-repeat:no-repeat;
  border:none;  
  background-color:transparent;
  color:#fff;
  padding-top: 45%;
  width:60px;
  text-align:center;
  }
.footer .form-clean {background-image: url(image-path('cleanform.png'));
  background-repeat:no-repeat;
  border:none;  
  background-color:transparent;
  color:#fff;
  padding-top: 60%;
  margin-top: -17%;
  width:60px;
  }
#search .search_on_google .google-field input{background-color:transparent;
  border:1px solid #BFBFBF;
  border-radius:5px;
  width:150px;
  float:right;
  color:#fff
  }
.title-tour {text-align:center; color:#620808; font-size:2em;
  background-image: url(image-path('title-site.png'));
  background-repeat:no-repeat;  
  height:100px;
  padding-top:2%;
  }


.slider4 {position:relative; width:95%; 
  height:250px; margin-bottom:5px;  
  margin-right:2.5%;
  margin-left:2.5%;
    }
.slider4 .slide {position:relative; width:200px; height:100%; float:left; margin:.5%;
  background:#fff;
  border-top:2px solid #6F8FAD;
  border-radius:5px;
  -webkit-box-shadow: 0px 10px 35px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 35px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 35px -2px rgba(0,0,0,0.75);
  }
.slider4 .slide p.tour-title {position:absolute; top:0; 
  right:0; left:0; height:40px; color:#000000; background:#fff;
  text-align:center;  
  padding:2%;
  }
.slider4 .slide .item-package {position:absolute; top:40px; 
  right:0; left:0; height:150px; overflow:hidden;
  }
.slider4 .slide .item-package img {height:100%; width:100%}
.slider4 .slide .more-info {position:absolute; bottom:0; width:100%; text-align:left;}
