/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require dataTables/jquery.dataTables
 *= require_tree .
 *= require_self
 */
 
.clear-float {clear:both}
.full-width {clear:both; width:100%}
.set-center {margin-right:auto; margin-left:auto}
.margin3 {margin:3%}
.margin-top5 {margin-top:5%;}
.margin-bottom {margin-bottom:10%}
.margin-bottom5 {margin-bottom:5%}
a { color:#521010;}
a:hover, visited {  text-decoration:none}
html {padding:0; margin:0;  height:100%}
body {padding:0; margin:0;  height:100%; width:100%; position:relative;}
.fa {direction:rtl;  font-family: 'open_sansregular';}
.fa input, .fa select, .fa textarea, .fa label, .admin-menu ul.fa  {direction:rtl; font-family: 'open_sansregular';}
.ar, p.ar {direction:rtl; font-family:'ASpiritOfDohaMedium'; font-size:1.2em }
.en, p.en, span.en, h1.en, h2.en, h3.en, h4.en {direction:ltr; font-family:Arial}
.admin-menu {position:absolute; top:180px;height: 37px;
  overflow: hidden;
  left:0; width:220px;
  z-index:20;
  font-family: 'open_sansregular'; 
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;    
    background-image: url(image-path('img-thing.jpg')); }
.admin-menu-title {text-align:center; color:#000000}
.admin-menu-title:hover {cursor:pointer}
p, span {color:#000}
.calendar p, span {color:#fff}
.admin-menu:hover {height:500px}
.admin-menu ul li:hover a {font-size:16px;}
.admi-menu-title {padding:1%; color:#000000}
.unread {border-radius:50%; background:#A52A2A; color:#fff; padding:2%;
  padding-right: 4%;
  padding-left: 4%;
}
.main {width:100%; position:relative;}
.main-menu { position:relative; top:0;
  
  right:0; left:0; width:100%; height:160px; 
  padding:0; z-index:4;
}
.main-menu  .top-of-menu {position:absolute; 
  top:0; width:100%; height:80px;  z-index:20;    
  padding:1%;
  background: #440102; /* Old browsers */
  background: -moz-linear-gradient(top,  #440102 0%, #560001 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#440102), color-stop(100%,#560001)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #440102 0%,#560001 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #440102 0%,#560001 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #440102 0%,#560001 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #440102 0%,#560001 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#440102', endColorstr='#560001',GradientType=0 ); /* IE6-9 */

  }
.main-menu  .top-of-menu p.site-title {text-align:center; color:#fff}
.main-menu  .top-of-menu p.site-title.fa {font-size: 1.7em; font-family: 'Bhoma'; text-align:right}
.main-menu .bottom-of-menu {
  display:none;
  position:absolute; bottom:0;
  width:100%; height:10px;  z-index:20;   
  background: #440102; /* Old browsers */
  background: -moz-linear-gradient(top,  #440102 0%, #560001 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#440102), color-stop(100%,#560001)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #440102 0%,#560001 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #440102 0%,#560001 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #440102 0%,#560001 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #440102 0%,#560001 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#440102', endColorstr='#560001',GradientType=0 ); /* IE6-9 */
}
.main-menu .col-xs-10 {padding:0;}


.main-menu .flag_bar a{margin:2%;}
.main-menu .flag_bar a:hover img{margin-top:-10px;}
.main-menu .flag_bar {text-align:center}

.main-menu .logo-center.fa,.main-menu .logo-center.ar  {position:absolute; top:45px; width:100%; height:112px}

.show-social {
  display:block;
  position:absolute;
  top:160px;
  right:0; width:35px;
  overflow:hidden;
  background: #a50306; /* Old browsers */
  background: -moz-linear-gradient(top,  #a50306 1%, #960305 44%, #660001 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a50306), color-stop(44%,#960305), color-stop(100%,#660001)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a50306 1%,#960305 44%,#660001 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a50306 1%,#960305 44%,#660001 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a50306 1%,#960305 44%,#660001 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a50306 1%,#960305 44%,#660001 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a50306', endColorstr='#660001',GradientType=0 ); /* IE6-9 */
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  opacity:.8;
  height:140px; 
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s; 
  z-index:10;
  }
.show-social:hover {width:115px;}
.show-social .social-icon  {overflow:hidden; width:115px}
.show-social .social-icon span {color:#fff}
.show-social .social-icon span:hover {color:#FFA500; cursor:pointer}
.menu_item {position:relative; width:100%; 
  background-image: url(image-path('main-menu.png'));
  height:50px;
  top:30px;
  border-radius:5px;
}
.menu_item .col-xs-9 {position:relative; height:100%;}
.menu_item.fa, .menu_item.ar {right:-5px;}
.menu_item .logo-img.fa {float:right}
.menu_item .logo-img {position:absolute; top:0; right:0}
.menu_bar {position:absolute;  width:100%; height:100%; left:0; top:33px;
  background-image: url(image-path('menu-bg.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
.menu_bar .menu-side {position:relative; height:60%;  z-index:200;}
.logo-side {
  top: -43px;    
  z-index: 50;  
  height:210px;
  background-image: url(image-path('didar_travel.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-size:120%;
  }
.menu_bar .menu-side.right-side {margin-right:5px}
.logo-side a {text-align:center}
.menu_bar ul#main-menu {
  list-style:none; width:85%;   
  height:100%; 
  position: relative;
  padding: 0;
  }
.menu_bar ul#main-menu li{position:relative;
  width:30%; float:right;
  height:100%; overflow:hidden;  
  color:#811717;
  font-size:15px;  
  background-position: 50% 0;  
  }
.menu_bar ul#main-menu li.item-menu .icon{
  background-image: url(image-path('menu-icons.png'));
  background-repeat: no-repeat;
  position: absolute;
  width: 50%;
  height: 45px;  
  right: 20%;
  left: 20%;
  top: 0;
  -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
  transition: all .5s; 
  }
.menu_bar ul#main-menu li.item-menu .icon#home{background-position: 100% 35%; }
.menu_bar ul#main-menu li.item-menu .icon#tours{background-position: 0 33%; }
.menu_bar ul#main-menu li.item-menu .icon#hotels{background-position: 57% 100%;}
.menu_bar ul#main-menu li.item-menu .icon#visa{background-position: 111% 98%;}
.menu_bar ul#main-menu li.item-menu .icon#page1{background-position: 0 100%;}
.menu_bar ul#main-menu li.item-menu .icon#page2{background-position: 53% 27%;}
.menu_bar ul#main-menu li.item-menu:hover .icon#home,.menu_bar ul#main-menu li.item-menu.active .icon#home{background-position: 100% 7%;}
.menu_bar ul#main-menu li.item-menu:hover .icon#tours,.menu_bar ul#main-menu li.item-menu.active .icon#tours{background-position: 0 3%;}
.menu_bar ul#main-menu li.item-menu:hover .icon#hotels,.menu_bar ul#main-menu li.item-menu.active .icon#hotels{background-position: 57% 73%;}
.menu_bar ul#main-menu li.item-menu:hover .icon#visa,.menu_bar ul#main-menu li.item-menu.active .icon#visa{background-position: 111% 70%;}
.menu_bar ul#main-menu li.item-menu:hover .icon#page1,.menu_bar ul#main-menu li.item-menu.active .icon#page1{background-position: 0 75%;}
.menu_bar ul#main-menu li.item-menu:hover .icon#page2,.menu_bar ul#main-menu li.item-menu.active .icon#page2{background-position: 52% 0;}
.menu_bar ul#main-menu.fa li.item-menu {font-family: 'Bhoma';}
.menu_bar ul#main-menu li.item-menu a {  
  padding-top:50px;
  width:100%; height:100%;
  position:absolute;
  text-align:center;  
  color:#510D0D; font-size:1.2em;
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s; }

.menu_bar ul#main-menu li.item-menu:hover a{color:#FF0000; }

#slider1_container {
  position: relative;
  width: 100%;
  height: 500px;
  top: -80px;
  right: 0;
  left: 0;
  clear:both
  }
.multi-slider-package {position:relative; height:300px;}


.carousel {height:100%;}
.carousel .carousel-inner{height:100%;}
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
    padding-top:230px;
  }
}

.carousel-indicators .active {background-color:#6A1010}
.carousel-indicators li {border: 1px solid #6A1010;}


.bottom-slider {
  
  position:relative; width:100%; height:5px;
  margin-top:-80px;
  background:#440102;
  }
.carousel-control.left, .carousel-control.right {background-image:none}
.carousel-control.left, .carousel-control.right {background-image:none}
.keywords {height:1px; overflow:hidden;}


.footer {
  height:1500px;
  background-image: url(image-path('footer-backg.jpg')); 
  background-size: 100% 100%;
  background-position: center;
  position:relative; right:0; left:0;  
  }
.footer .footer-boxes {position: absolute;
width: 100%;
height: 100%;
right: 0;
left: 0;}
.footer .footer-rectangle-box {top:10%; color:#fff}
.footer .footer-rectangle-box .contact-box{margin-top:5%; }
.footer .footer-rectangle-box .contact-box.fa ,.footer .footer-rectangle-box .contact-box.ar{float:left}
.footer .footer-rectangle-box .contact-box.en{float:right}
.footer .footer-rectangle-box .contact-box .contact{text-align:center; margin-bottom:20px}
.footer .footer-contact-box {
  background-image: url(image-path('main-menu.png'));
  position:relative; height:300px;
  top:100px;
  }
.footer .footer-boxes .footer-certificate {position: absolute;
  width:80%;
  right:10%; left:10%;
  top: 50%;
  height: 172px;
  
    }
.footer .footer-boxes .footer-certificate  .certificate-box {text-align:center; float:left;
  position: relative;
  height: 150px;
  
  
  }
.footer .footer-boxes .footer-certificate  .certificate-box img {position: absolute;
left: 0;
right: 0;
bottom: 0;}
.footer  .contact-info.fa p {direction:rtl; font-family: 'open_sansregular';color:#fff}
.footer  .contact-info.ar p {direction:ltr; font-family:'ASpiritOfDohaMedium'; font-size:1em; color:#fff}
.footer  .contact-info.en p { color:#fff}
.yield {position:relative; margin-top:-75px;}
.anchorLink {position:fixed; bottom:0; left:0; z-index:10}
.footer .form-control:focus {border-color:#CC1A1A; color:#fff}
.form-control {background-color:transparent; border:1px solid #BFBFBF}
.footer .google-map-box {border:1px solid #BFBFBF; width:100%; height:300px}
.footer .footer-bottom {position: absolute;
  height:270px; overflow:hidden;
bottom: 0;}
.footer .footer-bottom #newsletter {margin-bottom:5%}
.footer-menu ul{list-style:none}
.footer-menu ul li{list-style:none}
.footer-menu ul a li {color:#fff; text-align:center; font-size:1.2em; line-height:2em}
.footer-menu#related-links ul.fa a li, .footer-menu#related-links ul.ar a li {color:#fff; text-align:right}
.footer-menu#related-links ul.en a li {color:#fff; text-align:left}
.footer-menu ul li:hover {color:#7B1515}
.footer .copyright {color:#fff; text-align:center; margin-bottom:2%; margin-top:2%}
.footer .title-footer-form {background:#fff; padding:0; margin:0; color:#000000; width:60%;
  right: 20%;
left: 20%;

top: 0;
}
.footer .newsletter { top:30px;}
.footer .customer-clube {top:60px;}
.footer .sitevisit p b, .footer .sitevisit p{color:#fff}
.footer .form-submit {background-image: url(image-path('send.png'));
  background-repeat:no-repeat;
  border:none;  
  background-color:transparent;
  background-position: 50% 0;
  color:#fff;
  padding-top: 40px;
  width:60px;
  text-align:center;
  }
.footer .form-clean {background-image: url(image-path('cleanform.png'));
  background-repeat:no-repeat;
  border:none;  
  background-color:transparent;
  background-position: 50% 0;
  color:#fff;
  padding-top: 40px;
  margin-top: -17%;
  width:60px;
  }
#search .search_on_google .google-field input{background-color:transparent;
  border:1px solid #BFBFBF;
  border-radius:5px;
  width:150px;
  float:right;
  color:#fff
  }
.title-tour {text-align:center; color:#620808; font-size:1.5em;
  background-image: url(image-path('title-site.png'));
  background-repeat:no-repeat;  
  background-position:center;  
  height:70px;
  padding-top:2%;
  padding-right:4%;
  }
#news .title-tour {background-image: url(image-path('news-line.png'));}
.title-tour p{color:#620808; font-size:1.5em;}

.slider4 {position:relative; width:100%; 
  height:270px; margin-bottom:5px;  
  }
.slider4 .slide {position:relative; width:30%; height:100%; float:left; margin:.5%;
  background:#fff;
  background-image: url(image-path('logo-bg.png'));
  background-repeat:no-repeat;  
  background-position: 100% 85%;
  border-top:2px solid #6F8FAD;
  border-radius:5px;
  -webkit-box-shadow: 0px 10px 35px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 35px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 35px -2px rgba(0,0,0,0.75);
  }
.slider4 b.foreign-tour-title {position: absolute;
  left: -5%;
  width: 200px;
  font-size:2em;
  color:#530707;
  top: 30%;
  height: 100px;
  text-align: center;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-bt ;
  }
.slider4 .slide p.tour-title {position:absolute; top:0; 
  right:0; left:0; height:40px; color:#000000; background:#fff;
  text-align:center;  
  padding:2%;
  }
.slider4 .slide .item-package {position:absolute; top:40px; 
  right:0; left:0; height:150px; overflow:hidden;
  }

.slider4 .slide .item-package img {height:100%; width:100%; -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
    transition: all .5s; }
.slider4 .slide:hover .item-package img {height:120%; width:120%}
.slider4 .slide .more-info {position:absolute; bottom:0; width:100%; text-align:left; height:30px}
.slider4 .slide .more-info:hover a .see-more-arrow{background-position: 100% 0;}
.slider4 .slide .more-info a .see-more-arrow{
  position:absolute; left:0; height:40px; width:20px;
  background-image: url(image-path('arrow-bg.png'));
  background-repeat:no-repeat;  
  background-position: 0 0;
  -webkit-transition: all .2s; /* For Safari 3.1 to 6.0 */
    transition: all .2s; 
  }
.slider4 .slide .more-info a i{
    position: absolute;
    right: 5%;
    width: 100px;
    height: 40px;
    left: 20%;
  }
.cal-weather {position:relative;  margin-top:5%; padding:0;  }
.cal-weather .col-xs-6{ padding:0;  }
.cal-weather::before {  
  padding:0;
  opacity:.4;
  content: '';
  position:absolute; width:100%; height:100%;
  top:0; right:0; left:0; bottom:0;
  
  
  }
.tours-index {width:20%; position:relative; height:250px; background:#fff; 
  border-top:2px solid #6F8FAD; border-radius:5px;
  float:left;
  margin:1%;
  -webkit-box-shadow: 0px 10px 35px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 35px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 35px -2px rgba(0,0,0,0.75);
  }
.tours-index .tour-box {height:250px; width:100%}
.tours-index .tour-box .tour-title{position:absolute;
  width:100%; height:40px; padding:2%; text-align:center;
  top:0; right:0; left:0;
  }
.tours-index .tour-box .tour-sample-image {position: absolute; top:40px; right:0; left:0; height:150px;
  width:100%; overflow:hidden;
  }
.tours-index .tour-box .tour-sample-image img {height:100%; width:100%;}
.country-title-tab {color:#000000}
.tours-index .tour-date {position:absolute; bottom:0; width:100%; right:0; left:0;}
.admin-btn-tour {position:absolute; top:15%; width:100%; right:0; left:0;
  z-index:20;
  }
.admin-btn-tour a {font-size:12px}
.carousel-inner>.item {height:100%}
.middle-box {  
  margin-left:0;
  margin-right:0;
  margin-top:-75px;
  background-image: url(image-path('sprinkles.png'));
  background-repeat:repeat;  
  }
.middle-box .news {    
  background:#fff;
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.75);
  border-radius:5px;
  position:relative;  
  width:100%; height:300px; overflow:hidden;
  }
.plane-company {
  background:#fff; border-radius:9px;
  }
.plane-company .plane-logo{width:100px; height:100px; float:right;}
.title-certificate {}
.plane-company .plane-logo:hover a img{opacity:.6}
.show-news-and-event {margin-bottom:5%}

.show-news-and-event.fa .news-title, .show-news-and-event.ar .news-title {text-align:right}
.show-news-and-event.en .news-title{text-align:left}
.show-news-and-event .news-text {margin-top:5%}
.show-news-and-event.fa .news-text, .show-news-and-event.ar .news-text {float:right; border-right:solid 4px #530707}
.show-news-and-event.fa .news-text p, .show-news-and-event.ar .news-text p {text-align:justify; direction:rtl;}
.show-news-and-event.fa .news-text p {direction:rtl; font-family: 'open_sansregular';}
.show-news-and-event.ar .news-text p {direction:rtl; font-family:'ASpiritOfDohaMedium'; font-size:1.2em }
h1.page-title#news_and_vent {
  background-image: url(image-path('news-line.png'));
  background-repeat:no-repeat;  
  background-position:50% 100%;
  height:85px;
  color:#530707;
  text-align:center;
  }
    
ul.news_and_vents {list-style:square; padding:5%}
ul.news_and_vents li.news-item{font-size:1.2em; text-align: justify;
line-height: 2em;}
.national-certificate {position:fixed; top: 400px;
  -webkit-box-shadow: 7px 8px 33px 0px rgba(255,255,255,1);
  -moz-box-shadow: 7px 8px 33px 0px rgba(255,255,255,1);
  box-shadow: 7px 8px 33px 0px rgba(255,255,255,1);
  right: -5%;
  background: #fceabb; /* Old browsers */
  background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 31%, #f8b500 85%, #fbdf93 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(31%,#fccd4d), color-stop(85%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 31%,#f8b500 85%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 31%,#f8b500 85%,#fbdf93 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 31%,#f8b500 85%,#fbdf93 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 31%,#f8b500 85%,#fbdf93 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-bt ; color:#610505; z-index:300;
  width:200px; text-align:center;
  border-radius:5px;
  }
.national-certificate:hover {cursor:pointer}

.contact-form .form-control {color:#fff}
.contact-form.fa .col-xs-6, .contact-form.ar .col-xs-6{float:right}
