/* Large desktop */
@media (min-width: 1000px) and (max-width: 1020px) {  
  .main-menu .top-of-menu p.site-title.fa {font-size: 1.5em;}
  .col-xs-8.country-text {width: 58.33333333%;}
  .col-xs-4#sights-box {width: 41.66666667%;}
  .plane-company {margin-left:0; margin-top: 10px;}
}
@media (min-width: 1900px) and (max-width: 1920px) {
  .logo-side {top:-55px}
  .plane-company {margin-top:-10px}
}
@media only screen and (max-width: 979px) { 
  .main-menu .top-of-menu p.site-title.fa {font-size:1.2em}
  .logo-side {top: -37px;background-size: 115%;} 
  .top-of-menu .col-xs-4.pull-right {padding:0;}
  .menu_bar ul#main-menu {width:100%}
  .menu_bar ul#main-menu li {width:30%;}
  
  .menu_bar ul#main-menu li.item-menu .icon {width: 50px;right: 0;left: 0;}
  .menu_bar ul#main-menu li.item-menu a {font-size:1em}
  .menu_bar ul#main-menu li.item-menu ul.sub-menu {width:130%}
  .boxes-show {margin-left: 0;margin-right: 0; width:100%}
  #time-zone {width:30%;}
  #news {width:400px}
  .vertical {height:180px}
  .show-social .social-icon img {width:35px}
  .footer .title-footer-form {width:95%;right: 0;left: 0;}
  .contact-form #button {padding:0} 
  .contact-form #button .col-xs-12{padding:0} 
  .footer-menu ul a li {font-size:1em}
  .owl-carousel .owl-wrapper, .owl-carousel .owl-item {-webkit-transform: translate3d(2190px, 0, 0);
-moz-transform: translate3d(2190px, 0, 0);
-ms-transform: translate3d(2190px, 0, 0);}
}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) { 
 .main-menu .top-of-menu p.site-title.fa {font-size:1.6em}
 .title-time-zone div, .national-certificate div{clear: both; width: 100%}
 #time-zone {width:30%;}
 #news {width:360px}
.items div.weatherItem {height: 185px;}
.vertical {height:195px}
.weatherDesc, .weatherCity {padding-top: 50px;}
.weatherTemp {margin-top: -30px;}
.plane-company {margin-top: 10px; height:100px; }
.plane-company::before { height:100px}
.plane-company marquee {margin-top:0;}
#time-zone-link, #driving-certificate-link {margin-top:-90px}
.footer-menu ul {text-align:center}
.tours-index {width:30%}
.show-social .col-xs-12, .visits div{padding:0}
.contact-buttons .col-xs-6 {clear:both}
.plane-company .plane-logo {height:95px;}
  .boxes-show {padding:0}
  .boxes-show::before {height:240px}
.cal-weather {width:35%;padding:2%}
  .cal-weather .weatherLink{margin-top:10px}
  #time-zone {margin-top:20px}
  #responsive768hide {display:none}
  #responsive768show {display:block}
  #responsive768show .plane-company{margin-left:0}
  
  .middle-box .news {height: 160px;}
.agency-name {width:100%}
#responsive768show  .col-xs-7 {margin-top:40px}
#responsive768show  .col-xs-7 .national-certificate{height:80px}
#contact-form-box {width:40%}
#contact-info-box {width:60%}
.footer {height:600px}
 }
 .newsletter .col-xs-3, .newsletter .col-xs-9 {width:100%; clear:both}
 #new_employment .control-label {padding:0}
 
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #responsive480showcertificate {display:block; margin-top:140px}
  #responsive480hidecertificate {display:none}
  .logo-side {background-image: url('didarlogowhite.png');
    background-size: 69%;
    height: 75px;
    top: 0;
    }
  .menu_bar #main-menu .menu-side {width:48%; padding:0}
  .footer-certificate .certificate-box {width:14%}
  .footer-certificate .certificate-box img{width:100%}
  .main-menu .top-of-menu p.site-title.fa {font-size:1em}
  .agency-name {width:100%}
  .footer-menu {text-align:center}
  .main-menu .top-of-menu p.site-title.fa {font-size:1.5em}  
  #news {height:250px; width:270px}  
  .title-time-zone , .national-certificate{clear: both; margin:9%;width: 100%;padding: 5%; }
  .title-time-zone div, .national-certificate div{height:50px}
  .boxes-show::before {height:290px}
  
  .plane-company marquee {height:80px; float:none; margin-left:0; margin-top:0px;}
  .plane-company {margin-top:0px; height:120px;margin-left:0}
  .plane-company::before { height:120px}
  
 .cal-weather {width:40%;padding:2%}
  .cal-weather .weatherLink{margin-top:10px}
  #time-zone {margin-top:20px ; clear:both; width:40%; margin-left:60px}
  .boxes-show {padding:0}
  .boxes-show::before {height:240px}
  .contact-buttons .form-group{width:100%}
  #responsive768hide {display:none}
  #responsive768show {display:block}
  #responsive768show .col-xs-7 {width:40%}
  .middle-box .news {height: 160px;}
.agency-name {width:100%}
.main-menu .top-of-menu p.site-title.fa{font-size:1.2em}

#responsive768show  .col-xs-7 .national-certificate{height:80px}
#responsive768show  .col-xs-7 .national-certificate .col-xs-2,
 #responsive768show  .col-xs-7 .national-certificate .col-xs-8,
 #responsive768show  .col-xs-7 .title-time-zone .col-xs-8,
 #responsive768show  .col-xs-7 .title-time-zone .col-xs-2,
 {width:100%}
#contact-form-box {width:40%}
#contact-info-box {width:100%}
.footer {height:600px}
#responsive767show-footer-links {display:block}
#responsive767hide-footer-links {display:none}
  }
  
  
  
/* Landscape phones and down */
@media (max-width: 480px) {
  .related-box .related-tours {width:180px}
  #related-link-to-tour {padding:0}
  #didar-red-logo img {width:35%}
  .footer-certificate .certificate-box {width:14%}
  .footer-certificate .certificate-box img{width:100%}
  #responsive480showmenu, #responsive480showweather, #responsive480showcertificate {display:block}
  #responsive480hidemenu,#responsive480hideweather, #responsive480hidecertificate {display:none}
  #responsive480showmenu .col-xs-12 {text-align:center;}
  #responsive480showmenu  p{text-align:center; line-height:1.5em; font-size:1.5em}
  .main-menu {height:340px}
  .main-menu .top-of-menu {height:175px}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:115px}
  .menu_bar .menu-side.right-side {margin-right:0}
  .menu_bar #main-menu .menu-side {width:50%; padding:0}
  #news {height:100%; width:100%}
  .slide .col-xs-6.title-tour {display:none}
  #time-zone {clear:none; width:45%; float:right}
  #time-zone .ui-datepicker-inline {margin-right:50%}
  #responsive480showweather.cal-weather {width:100%; margin-top:20px}
  #responsive768show .col-xs-7 {width:100%}
  .title-time-zone, .national-certificate {clear:none; float:right; width:50%; margin:0; height:120px}
  .title-time-zone .col-xs-2, .national-certificate .col-xs-2, .title-time-zone .col-xs-8, .national-certificate .col-xs-8{width:100%}
  .google-map-box {display:none}
  #contact-form-box, #contact-info-box {width:100%}
  .footer-menu {text-align:center}
  .footer-bottom {padding:0}
  .footer-certificate {margin-top:0; margin-bottom:5px}
  .plane-company { margin-left:0}
  .plane-company marquee {height:100px; float:none; margin-left:0}
  .scrollable.vertical {height:215px}
  #slider1_container {display:none}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:145px}
  .menu_bar ul#main-menu li.item-menu ul.sub-menu {display:none}
  .country-name .location{display:none}
  .footer-bottom {margin-top:5px}
  #responsive767show-footer-links .sitevisit, #responsive767show-footer-links .related-links {width:100%}
  .title-footer-form, .title-footer-form#related-links-title {text-align:center; margin-top:15px}
  .tours-index, .comment-box {width:100%}
  #sliderFrame {display:none}
  .plane-company .plane-logo {width:50px; height:50px; }
  .plane-company .plane-logo img{width:100%; top:5px}
  .footer {height:750px; text-align:center}
  #show-tour-source, #show-tour-date {width:100%}
  
}
/*
@media all and (max-width: 740px) {  
   #responsive480showmenu, #responsive480showweather, #responsive480showcertificate {display:block}
  #responsive480hidemenu,#responsive480hideweather, #responsive480hidecertificate {display:none}
  #responsive480showmenu .col-xs-12 {text-align:center;}
  #responsive480showmenu  p{text-align:center; line-height:1.5em; font-size:1.5em}
  .main-menu {height:340px}
  .main-menu .top-of-menu {height:175px}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:115px}
  .menu_bar .menu-side.right-side {margin-right:0}
  .menu_bar #main-menu .menu-side {width:50%; padding:0}
  #news {height:100%; width:100%}
  #time-zone {clear:none; width:45%; float:right}
  #time-zone .ui-datepicker-inline {margin-right:50%}
  #responsive480showweather.cal-weather {width:100%; margin-top:20px}
  #responsive768show .col-xs-7 {width:100%}
  .title-time-zone, .national-certificate {clear:none; float:right; width:45%; margin:0; height:120px}
  .title-time-zone .col-xs-2, .national-certificate .col-xs-2, .title-time-zone .col-xs-8, .national-certificate .col-xs-8{width:100%}
  .google-map-box {display:none}
  #contact-form-box, #contact-info-box {width:100%}
  .footer-menu {text-align:center}
  .footer-bottom {padding:0}
  .footer-certificate {margin-top:0; margin-bottom:5px}
  .plane-company { margin-left:0}
  .plane-company marquee {height:80px; float:none; margin-left:0}
  .scrollable.vertical {height:215px}
  #slider1_container {display:none}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:145px}
  .menu_bar ul#main-menu li.item-menu ul.sub-menu {display:none}
  .country-name .location{display:none}
  .footer-bottom {margin-top:5px}
  #responsive767show-footer-links .sitevisit, #responsive767show-footer-links .related-links {width:100%}
  .title-footer-form, .title-footer-form#related-links-title {text-align:center; margin-top:15px}
  .tours-index, .comment-box {width:100%}
  #sliderFrame {display:none}

}
@media all and (max-width: 570px) {  
   #responsive480showmenu, #responsive480showweather, #responsive480showcertificate {display:block}
  #responsive480hidemenu,#responsive480hideweather, #responsive480hidecertificate {display:none}
  #responsive480showmenu .col-xs-12 {text-align:center;}
  #responsive480showmenu  p{text-align:center; line-height:1.5em; font-size:1.5em}
  .main-menu {height:340px}
  .main-menu .top-of-menu {height:175px}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:115px}
  .menu_bar .menu-side.right-side {margin-right:0}
  .menu_bar #main-menu .menu-side {width:50%; padding:0}
  #news {height:100%; width:100%}
  #time-zone {clear:none; width:45%; float:right}
  #time-zone .ui-datepicker-inline {margin-right:50%}
  #responsive480showweather.cal-weather {width:100%; margin-top:20px}
  #responsive768show .col-xs-7 {width:100%}
  .title-time-zone, .national-certificate {clear:none; float:right; width:45%; margin:0; height:120px}
  .title-time-zone .col-xs-2, .national-certificate .col-xs-2, .title-time-zone .col-xs-8, .national-certificate .col-xs-8{width:100%}
  .google-map-box {display:none}
  #contact-form-box, #contact-info-box {width:50%}
  .footer-menu {text-align:center}
  .footer-bottom {padding:0}
  .footer-certificate {margin-top:0; margin-bottom:5px}
  .plane-company { margin-left:0}
  .plane-company marquee {height:80px; float:none; margin-left:0}
  .scrollable.vertical {height:215px}
  #slider1_container {display:none}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:145px}
  .menu_bar ul#main-menu li.item-menu ul.sub-menu {display:none}
  .country-name .location{display:none}
  .footer-bottom {margin-top:5px}
  #responsive767show-footer-links .sitevisit, #responsive767show-footer-links .related-links {width:100%}
  .title-footer-form, .title-footer-form#related-links-title {text-align:center; margin-top:15px}
  .tours-index, .comment-box {width:100%}
  #sliderFrame {display:none}
}  
 
@media all and (max-width: 480px) {  
  #didar-red-logo img {width:35%}
  .related-box .related-tours {width:180px}
  #related-link-to-tour {padding:0}
  .footer-certificate .certificate-box {width:14%}
  .footer-certificate .certificate-box img{width:100%}
    #responsive480showmenu, #responsive480showweather, #responsive480showcertificate {display:block}
  #responsive480hidemenu,#responsive480hideweather, #responsive480hidecertificate {display:none}
  #responsive480showmenu .col-xs-12 {text-align:center;}
  #responsive480showmenu  p{text-align:center; line-height:1.5em; font-size:1.5em}
  .main-menu {height:340px}
  .main-menu .top-of-menu {height:175px}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:115px}
  .menu_bar .menu-side.right-side {margin-right:0}
  .menu_bar #main-menu .menu-side {width:50%; padding:0}
  #news {height:100%; width:100%}
  #time-zone {clear:none; width:45%; float:right}
  #time-zone .ui-datepicker-inline {margin-right:50%}
  #responsive480showweather.cal-weather {width:100%; margin-top:20px}
  #responsive768show .col-xs-7 {width:100%}
  .title-time-zone, .national-certificate {clear:none; float:right; width:45%; margin:0; height:120px}
  .title-time-zone .col-xs-2, .national-certificate .col-xs-2, .title-time-zone .col-xs-8, .national-certificate .col-xs-8{width:100%}
  .google-map-box {display:none}
  #contact-form-box, #contact-info-box {width:100%}
  .footer-menu {text-align:center}
  .footer-bottom {padding:0}
  .footer-certificate {margin-top:0; margin-bottom:5px}
  .plane-company { margin-left:0}
  .plane-company marquee {height:100px; float:none; margin-left:0}
  .scrollable.vertical {height:215px}
  #slider1_container {display:none}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:145px}
  .menu_bar ul#main-menu li.item-menu ul.sub-menu {display:none}
  .country-name .location{display:none}
  .footer-bottom {margin-top:5px}
  #responsive767show-footer-links .sitevisit, #responsive767show-footer-links .related-links {width:100%}
  .title-footer-form, .title-footer-form#related-links-title {text-align:center; margin-top:15px}
  .tours-index, .comment-box {width:100%}
  #sliderFrame {display:none}
  .footer {height:750px; text-align:center}
  #show-tour-source, #show-tour-date {width:100%}
}  
   
@media all and (max-width: 320px) {  
  .related-box .related-tours {width:180px}
  #didar-red-logo img {width:35%}
  #related-link-to-tour {padding:0}
  .footer-certificate .certificate-box {width:14%}
  .footer-certificate .certificate-box img{width:100%}
   #responsive480showmenu, #responsive480showweather, #responsive480showcertificate {display:block}
  #responsive480hidemenu,#responsive480hideweather, #responsive480hidecertificate {display:none}
  #responsive480showmenu .col-xs-12 {text-align:center;}
  #responsive480showmenu  p{text-align:center; line-height:1.5em; font-size:1.5em}
  .main-menu {height:340px}
  .main-menu .top-of-menu {height:175px}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:115px}
  .menu_bar .menu-side.right-side {margin-right:0}
  .menu_bar #main-menu .menu-side {width:50%; padding:0}
  #news {height:100%; width:100%}
  #time-zone {clear:none; width:45%; float:right}
  #time-zone .ui-datepicker-inline {margin-right:50%}
  #responsive480showweather.cal-weather {width:100%; margin-top:20px}
  #responsive768show .col-xs-7 {width:100%}
  .title-time-zone, .national-certificate {clear:none; float:right; width:45%; margin:0; height:120px}
  .title-time-zone .col-xs-2, .national-certificate .col-xs-2, .title-time-zone .col-xs-8, .national-certificate .col-xs-8{width:100%}
  .google-map-box {display:none}
  #contact-form-box, #contact-info-box {width:100%}
  .footer-menu {text-align:center}
  .footer-bottom {padding:0}
  .footer-certificate {margin-top:0; margin-bottom:5px}
  .plane-company { margin-left:0}
  .plane-company marquee {height:100px; float:none; margin-left:0}
  .scrollable.vertical {height:215px}
  #slider1_container {display:none}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:145px}
  .menu_bar ul#main-menu li.item-menu ul.sub-menu {display:none}
  .country-name .location{display:none}
  .footer-bottom {margin-top:5px}
  #responsive767show-footer-links .sitevisit, #responsive767show-footer-links .related-links {width:100%}
  .title-footer-form, .title-footer-form#related-links-title {text-align:center; margin-top:15px}
  .tours-index, .comment-box {width:100%}
  #sliderFrame {display:none}
  .footer {height:750px; text-align:center}
  #show-tour-source, #show-tour-date {width:100%}
}  
*/  
/** iPhone only **/ 
/*
@media all and (max-device-width: 480px) {  
  .related-box .related-tours {width:180px}
  #didar-red-logo img {width:35%}
  #related-link-to-tour {padding:0}
  .footer-certificate .certificate-box {width:14%}
  .footer-certificate .certificate-box img{width:100%}
   #responsive480showmenu, #responsive480showweather, #responsive480showcertificate {display:block}
  #responsive480hidemenu,#responsive480hideweather, #responsive480hidecertificate {display:none}
  #responsive480showmenu .col-xs-12 {text-align:center;}
  #responsive480showmenu  p{text-align:center; line-height:1.5em; font-size:1.5em}
  .main-menu {height:340px}
  .main-menu .top-of-menu {height:175px}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:115px}
  .menu_bar .menu-side.right-side {margin-right:0}
  .menu_bar #main-menu .menu-side {width:50%; padding:0}
  #news {height:100%; width:100%}
  #time-zone {clear:none; width:45%; float:right}
  #time-zone .ui-datepicker-inline {margin-right:50%}
  #responsive480showweather.cal-weather {width:100%; margin-top:20px}
  #responsive768show .col-xs-7 {width:100%}
  .title-time-zone, .national-certificate {clear:none; float:right; width:45%; margin:0; height:120px}
  .title-time-zone .col-xs-2, .national-certificate .col-xs-2, .title-time-zone .col-xs-8, .national-certificate .col-xs-8{width:100%}
  .google-map-box {display:none}
  #contact-form-box, #contact-info-box {width:100%}
  .footer-menu {text-align:center}
  .footer-bottom {padding:0}
  .footer-certificate {margin-top:0; margin-bottom:5px}
  .plane-company { margin-left:0}
  .plane-company marquee {height:100px; float:none; margin-left:0}
  .scrollable.vertical {height:215px}
  #slider1_container {display:none}
  .main-menu .logo-center.fa, .main-menu .logo-center.ar {top:145px}
  .menu_bar ul#main-menu li.item-menu ul.sub-menu {display:none}
  .country-name .location{display:none}
  .footer-bottom {margin-top:5px}
  #responsive767show-footer-links .sitevisit, #responsive767show-footer-links .related-links {width:100%}
  .title-footer-form, .title-footer-form#related-links-title {text-align:center; margin-top:15px}
  .tours-index, .comment-box {width:100%}
  #sliderFrame {display:none}
  .footer {height:750px; text-align:center}
  #show-tour-source, #show-tour-date {width:100%}
}
*/
